.singlePostPage {
    margin-right: 2%;
    /* z-index: -1;
    background-image: url('/assets/Images/Frame1.png'), url('/assets/Images/Frame.png');
    background-size: contain;
    background-repeat: no-repeat; */
  }