.aboutus-page{
    z-index: -1;
    background-image: url('/assets/Images/Frame1.png'), url('/assets/Images/Frame.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.about-line {
    position: absolute;
    top: 0;
    height: 1.72%;
    width: 1px;
    background-color:  rgba(255, 251, 251, 0.19);
  }
  
  .about-line.left {
    left: 1;
    margin-left: 28%;
  
  }
  
  .about-line.right {
    right: 1;
    margin-left: 63%;
  }