.SinglePostHeroHeading {
    width: 100%; /* Adjust as needed */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.7em;
    text-transform: capitalize;
    background: linear-gradient(180deg, #FFFFFF 0%, #FEFEFE 0.01%, #999999 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }


  

      .SinglePostHero-author-sec {
        display: flex;
        align-items: center; 
        gap: 25px; 
        margin-top: 2em;
    }
    
    .SinglePostHero-author-info {
        line-height: .7;
        display: block;
    }
    .SinglePostHero-date {
    color: #CBCBE8;
    font-size: 16px;
    width: 200px;
    
    }
    
    .SinglePostHero-author-name {
        font-size: 22px;
        margin-top: 10%;
    }
 
    
      