.home-page {
  margin-right: -10%;
  z-index: -1;
  background-image: url('/assets/Images/Frame1.png'), url('/assets/Images/Frame.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-page {
    padding: 0 0.5rem; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .home-page {
    padding: 0 0.25rem; /* Further adjust padding for very small screens */
  }
}
