.blogPostPage{
  overflow: hidden;

}

.blog-line  {
    position: absolute;
    top: 0;
    height: 1.38%;
    width: 1px;
    background-color:  rgba(255, 251, 251, 0.19);
  }
  
  .blog-line.left {
    left: 1;
    margin-left: 28%;
  
  }
  
  .blog-line.right {
    right: 1;
    margin-left: 63%;
  }


  @media (max-width: 1240px) {
 

    .blog-line{
      display: none;
    }
  }
  
  
  @media (max-width: 768px) {
  
  
    .blog-line{
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .blog-line{
      display: none;
    }
  
   
  }
  