   .footer-container{
  padding: 2em 5em 2em 5em ;
  margin-right: 220px;
  margin-left: 80px;
}

body.light-mode .footer-container,
body.theme1-mode .footer-container,
body.theme2-mode .footer-container{
  background-image: url(/src/assets/Images/frame2.png), url(/src/assets/Images/frame2.png);
}

.footer-description{
  width:400px;
  color: #CBCBE8;
  line-height: 2;
}

.footer-follow-icon-box{
  

  width: 250px;
  box-sizing: border-box;
  border-radius: 10px;
  }

  .footerlist-a{
    text-decoration: none;
    color: #CBCBE8;
    line-height: 2;
  }

 