.follow-icon-box{
  

width: 330px;
padding: 20px;
box-sizing: border-box;
background: rgba(217, 217, 217, 0.19);
border: 1px solid rgba(255, 255, 255, 0.4);
border-radius: 10px;



}

.followus-main-heading{
        font-size: 50px;   
        font-weight: 700;
        font-family: "Poppins";   
        background: linear-gradient(180deg, #ffffff 0%, #fefefe 0.01%, #999999 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-top: 2em;
}


@media (max-width: 768px) {   
     .followus-heading-container{
              justify-content: center;
              align-items: center;
              
        }

        .follow-icon-box{
                width: 280px;
        padding: 10px;
 margin-left: 2em;
        }
        
}