

.blogPostCategories-main-heading {
    font-size: 47px;
  
    font-weight: 700;
    font-family: "Poppins";
  
    background: linear-gradient(180deg, #ffffff 0%, #fefefe 0.01%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

 


.blogPostCategory-content{
    background-image: url(/assets/Images/Rectangle-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 400px; */
    padding: 1em;
}

.blogPostCategory-list{
    color: #D2D2D2;
    font-size: 16px;
}
.category-img{
    border-radius: 10px;
    box-shadow: 0px 10px 10px -10px #000000; 

}


/* .blogPostCategory-content-3{
    background-image: url(/assets/Images/glow.png);
    background-repeat: no-repeat;
    background-size: cover;
} */

.vector p{
    font-size: 14px;
    margin-right:8%;
}

